:root {
  --noir: #030303;
  --red: #eb4e32;
  --blanc: #f8f8f8;
  --gris: #c7c7c7
}

.headerDesktop-container, .search-form-fieldset {
  background-color: var(--noir)
}

[class*=searchForm-action-button-] {
  color: var(--blanc)
}

.searchForm-action-button-advanced:hover, .searchForm-action-button-toggle:hover {
  background: var(--blanc)
}

.alert, .pm_button, .pm_select {
  border-radius: 0
}

.pm_button.primary, .pm_button.primary:active {
  background-color: var(--blanc);
  color: var(--noir);
  border-color: var(--noir)
}

.pm_button.primary:focus, .pm_button.primary:hover {
  background-color: var(--noir)
}

.navigation>li.active, .navigation>li:hover {
  border-color: var(--blanc)
}

.navigation-link {
  color: var(--blanc)
}

.pm_dropdown .navigationUser-logout {
  background-color: var(--noir) !important;
  border-color: var(--noir) !important;
  color: var(--blanc) !important
}

.pm_dropdown .navigationUser-logout:hover {
  background-color: var(--noir) !important;
  border-color: var(--noir) !important;
  color: var(--blanc) !important
}

.sidebar-btn-compose, .sidebar-btn-compose:active {
  color: var(--blanc) !important;
  background: var(--blanc) !important;
  border: none !important
}

.sidebar-btn-compose:hover {
  color: var(--blanc) !important;
  background: var(--blanc) !important;
  border: none !important
}

.headerDesktop-logo {
  background-color: var(--noir)
}

body section.sidebar {
  background: var(--noir)
}

body section.sidebar a.compose {
  background: var(--blanc);
  color: var(--blanc)
}

body section.sidebar a.compose:hover {
  background: var(--blanc);
  border-color: var(--blanc);
  color: var(--noir)
}

body section.sidebar ul.menu li a {
  color: var(--blanc)
}

body section.sidebar ul.menu li a:hover {
  background-color: var(--gris) color: var(--blanc)
}

body section.sidebar ul.menu li.active a {
  color: var(--blanc)
}

body section.sidebar ul.menu li i {
  display: none
}

.navigation-icons, .navigation-link i {
  display: none
}

body section.sidebar ul.menu li a em {
  color: var(--blanc);
  opacity: .5
}

body section.sidebar div.labels ul li a {
  color: var(--blanc);
  opacity: .5
}

body section.sidebar div.labels ul li a:hover {
  color: var(--blanc);
  opacity: 1
}

body section.sidebar a.version, body section.sidebar div.footer div.link a {
  color: var(--blanc);
  opacity: .5
}

body section.sidebar a.version:hover, body section.sidebar div.footer div.link a:hover {
  color: var(--blanc);
  opacity: 1
}

body section.sidebar div.footer div.storage strong {
  color: var(--blanc);
  opacity: .5
}

.pm_toggle-label {
  background: var(--noir) !important
}

.storageBar {
  background-color: rgba(0, 0, 0, .1)
}

.storageBar .storageBar-progress {
  background-color: var(--blanc)
}

.pm_buttons, .pm_buttons a {
  color: var(--noir)
}

.pm_buttons .pm_buttons-child:hover, .pm_buttons a:hover {
  color: var(--blanc)
}

.pm_buttons, .pm_buttons .pm_buttons:not(:first-of-type), .pm_buttons a, .pm_buttons>*, .readUnread-container-ur .readUnread-btn-read {
  border-color: var(--noir) !important
}

.dropdown-folder-search .fa.dropdown-folder-search-icon, .dropdown-label-search .fa.dropdown-label-search-icon {
  color: var(--blanc)
}

.createLabel-button, .dropdown-folder-create-button {
  color: var(--blanc)
}

.customCheckbox-container:hover .customCheckbox-mask, .customMaskInput-container:hover .customCheckbox-mask {
  border-color: var(--blanc) !important
}

.customCheckbox-input:checked+.customCheckbox-mask {
  background-color: var(--blanc);
  border-color: var(--blanc);
  color: var(--noir)
}

.conversation.marked::before {
  background: var(--blanc);
  width: 5px
}

#pm_composer .composer header {
  background: var(--noir);
  color: var(--blanc)
}

p a {
  color: var(--blanc)
}

#pm_composer .composer footer .pm_button {
  background: var(--blanc);
  color: var(--noir)
}

#pm_composer .composer footer .pm_button:hover {
  background: var(--blanc);
  color: var(--noir)
}

#pm_composer .composer footer .pm_button.primary {
  background: var(--noir);
  color: var(--blanc)
}

#pm_composer .composer footer .pm_button.primary:hover {
  background: var(--blanc);
  color: var(--blanc)
}

.pm_button.link.composerHeader-btn {
  color: var(--blanc) !important
}

.pm_button.link.composerHeader-btn:hover {
  color: var(--blanc) !important
}

#pm_settings .pm_tabs {
  background: var(--gris)
}

#pm_settings .pm_tabs li a.pm_button {
  color: var(--noir);
  border-color: var(--gris)
}

#pm_settings .pm_tabs li a.pm_button:hover {
  color: var(--blanc)
}

#pm_settings .pm_tabs li.active a.pm_button {
  color: var(--blanc)
}

.pm_button.link {
  color: var(--blanc)
}

.pm_toggle.off .off, .pm_toggle.on .on {
  background: var(--noir);
  color: var(--blanc)
}

.pm_toggle {
  box-shadow: 0 0 0 1px var(--gris)
}

.alert.alert-info {
  background: var(--gris);
  color: var(--noir)
}

.alert.alert-warning {
  background: var(--red);
  color: var(--noir)
}

.pm_button.error:focus, .pm_button.error:hover {
  background-color: var(--red)
}

.pm_button.error {
  border-color: var(--red)
}

.settingsUsers-link-signatures, html.protonmail .text-purple {
  color: var(--blanc) !important
}

.text-red {
  color: var(--red) !important
}

.pm_button.link {
  color: var(--noir) !important
}

.overviewSection-container .topUp-button {
  color: var(--blanc)
}

.pm_modal .modal-dialog {
  border-color: var(--noir)
}

.pm_modal .modal-dialog .close {
  color: var(--blanc);
  background: var(--noir)
}

.pm_badge {
  color: var(--blanc)
}

.pm_badge.primary {
  background: var(--noir);
  color: var(--blanc)
}

.pm_badge.success {
  background: var(--blanc);
  color: var(--blanc)
}

.pm_table table th .fa, .pm_table table th a {
  color: var(--blanc)
}

body .cg-notify-message {
  border-radius: 0
}

body .cg-notify-message.notification-success {
  background-color: var(--gris);
  color: var(--blanc)
}

.appConfigBody-is-mobile .sidebarApp-container {
  background: var(--noir)
}
